= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        - if project_nav_tab? :pipelines
          = nav_link(path: ['pipelines#index', 'pipelines#show']) do
            = link_to project_pipelines_path(@project), title: 'Pipelines', class: 'shortcuts-pipelines' do
              %span
                Pipelines

        - if project_nav_tab? :builds
          = nav_link(controller: [:builds, :artifacts]) do
            = link_to project_builds_path(@project), title: 'Jobs', class: 'shortcuts-builds' do
              %span
                Jobs

        - if project_nav_tab? :environments
          = nav_link(controller: :environments) do
            = link_to project_environments_path(@project), title: 'Environments', class: 'shortcuts-environments' do
              %span
                Environments

        - if @project.feature_available?(:builds, current_user) && !@project.empty_repo?
          = nav_link(path: 'pipelines#charts') do
            = link_to charts_namespace_project_pipelines_path(@project.namespace, @project), title: 'Charts', class: 'shortcuts-pipelines-charts' do
              %span
                Charts
